.App {
  text-align: center;
  background-image: url("./img/meetings-bg.jpg");
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.about{
  background-image: url("./img/heading-bg.jpg");
  background-size: contain;
  background-attachment: fixed;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form{

  display: flex;
  justify-content: center;
}
.center{
  justify-content: center;
  align-items: center;
}
.all{

  background-image: url("./img/apply-bg.jpg");
  width: 80%;
  height: 100%;
  margin: 5%;
  background-size: cover;
}

.left{
  width: 50%;
  margin-left: 20%;
  background-image: url("./img/course-01.jpg");
  
  background-attachment: fixed;
}
.link{
  text-decoration: none;
  color: #a22f32;
  font-weight: bold;
  font-size: x-large;
  margin-left: 3%;
  
}
.spa{
  color: rgb(14, 8, 8);
  font-weight: bold;
  font-size: xx-large;
}
.nav{
  margin-left: 75%;
}
.para{
  text-align: center;
  color: rgb(243, 240, 240);
}
#head{
  padding: 10%;

}